* {
    margin: 0px;
    font-family: "Inter", sans-serif;
}
.header {    
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
}
.hall {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    gap: 400px;
}
.hleft ,.hlink{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
.hleft {
    gap: 20px;
}
.hright {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 120px;
}
.hright input {
    border: none;
    outline: none;
    width: 100px;
    padding: 10px;
    background: transparent;

}
.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;

}
.s1eall {
    display: flex;
    align-items: center;
    justify-content: center;
}
.s1left{
    width: 515px;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.s1left h1 {
    font-size: 56px;
}
.s1left p {
    font-size: 18px;
    font-weight: 400;
    color: #656464;
}
.s1left button {
    width: 162px;
    height: 62px;
    outline: none;
    border-radius: 14px;
    border: 1px solid #217BF4;

}
.s1left span {
    display: flex;
    justify-content: center;

    align-items: center;
    width: 177px;
    height: 46px;
    background: #E8F1FE;
    color:  #217BF4;
    border-radius: 8px;
}
.s1right {
    width: 585px;
    height: 501px;
    
}
.s1right img {
    width: 100%;
}
.btn1 {
    background-color: #217BF4;
    color: #FFFFFF;
}
.btn2 {
    background: transparent;
    color: #217BF4;

}
.sec2{
    width: 1200px;
    margin: 100px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s2left{
    width: 420px;
}

.s2left span{
    color: #217BF4;
    font-size: 18px;
}

.s2left h2{
    font-size: 42px;
    color: #0A093D;
    margin: 15px 0;
}

.s2left p{
    color: #656464;
    line-height: 28px;
    margin-bottom: 30px;
}

.s2left ul{
    margin-left: 20px;
}

.s2left li{
    margin-bottom: 18px;
    font-size: 18px;
    color: #171648;
}

.s2right{
    width: 620px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigimg img{
    width: 330px;
    height: 430px;
    border-radius: 18px;
}

.smallimg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 430px;
}

.smallimg img{
    width: 240px;
    height: 200px;
    border-radius: 18px;
}
.sec3{
    width: 1200px;
    margin: 100px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s3left{
    width: 650px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 280px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    
}

.card h3{
    margin-bottom: 20px;
    color: #0A093D;
}

.card p{
    margin-bottom: 18px;
    color: #666;
    line-height: 26px;
}

.card .text{
    margin-top: 30px;
}

.card a{
    text-decoration: none;
    color: #217BF4;
}

.s3right{
    width: 420px;
}

.s3right span{
    color: #217BF4;
    font-size: 18px;
}

.s3right h2{
    font-size: 42px;
    color: #0A093D;
    margin: 15px 0;
}

.s3right p{
    color: #666;
    line-height: 30px;
    margin-bottom: 35px;
}

.s3right button{
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 12px;
    background: #217BF4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.sec4{
    width: 1200px;
    margin: 100px auto;
}

.s4title{
    text-align: center;
}

.s4title span{
    color: #217BF4;
    font-size: 18px;
}

.s4title h2{
    font-size: 42px;
    color: #0A093D;
    margin: 15px 0;
}

.s4title p{
    color: #666;
    line-height: 28px;
    margin-bottom: 60px;
}

.s4cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.s4card{
    width: 520px;
    padding: 35px;

    display: flex;
    align-items: flex-start;
    gap: 25px;

    background: white;
    border-radius: 18px;
    box-shadow: 0 0 18px rgba(0,0,0,.08);

    margin-bottom: 35px;
}

.s4card img{
    width: 70px;
    height: 70px;
}

.cardtext h3{
    font-size: 24px;
    color: #2F2C4A;
    margin-bottom: 15px;
}

.cardtext p{
    color: #656464;
    line-height: 28px;
}
.sec5{
    width: 1200px;
    margin: 100px auto;
}

.s5title{
    text-align: center;
}

.s5title span{
    color:#217BF4;
    font-size:18px;
}

.s5title h2{
    font-size:42px;
    color:#0A093D;
    margin:15px 0;
}

.s5title p{
    color:#666;
    line-height:28px;
}

.s5btns{
    width:420px;
    height:70px;
    margin:50px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#EFF3FF;
    border-radius:15px;
    padding:8px;
}

.s5btns button{
    width:120px;
    height:54px;
    border:none;
    border-radius:12px;
    background:transparent;
    cursor:pointer;
    font-size:16px;
}

.s5btns .active{
    background:#217BF4;
    color:white;
}

.s5cards{
    display:flex;
    gap: 20px;
}

.s5card{
    width:260px;
    padding:35px 20px;

    text-align:center;

    border:1px solid #ECECEC;
    border-radius:18px;
}

.s5card img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:25px;
}

.s5card h3{
    font-size:28px;
    color:#2F2C4A;
    margin-bottom:10px;
}

.s5card p{
    color:#656464;
}
.sec6{
    background: #EAF2FF;
    padding-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.s6left{
    width: 500px;
    margin-bottom: 80px;
}

.s6left span{
    color:#217BF4;
    font-size:18px;
}

.s6left h2{
    font-size:48px;
    color:#0A093D;
    margin:20px 0;
    line-height:60px;
}

.s6left p{
    color:#656464;
    line-height:30px;
    margin-bottom:40px;
}

.apps{
    display:flex;
    gap:20px;
}

.apps img{
    width:150px;
    cursor:pointer;
}

.s6right{
    width:600px;
}

.s6right img{
    width:600px;
    display:block;
    margin-left:auto;
}
.sec7{
    width:1200px;
    margin:100px auto;
}

.s7title{
    text-align:center;
    margin-bottom:60px;
}

.s7title span{
    color:#217BF4;
    font-size:18px;
}

.s7title h2{
    font-size:42px;
    color:#0A093D;
    margin-top:15px;
}

.s7cards{
    display:flex;
    justify-content:space-between;
}

.s7card{
    width:340px;
}

.s7card img{
    width:100%;
    border-radius:18px;
    margin-bottom:25px;
}

.line{
    width:40px;
    height:2px;
    background:#FFAF2E;
    display:inline-block;
    margin-right:10px;
}

.s7card h3{
    display:inline-block;
    width:260px;
    font-size:24px;
    color:#2F2C4A;
    vertical-align:middle;
    margin-bottom:25px;
}

.s7card a{
    display:block;
    text-decoration:none;
    color:#217BF4;
    font-size:17px;
}
.footer{
    width: 100%;
    background: #2B2A3A;
    margin-top: 100px;
}

.ftop{
    width: 1200px;
    margin: auto;
    padding: 80px 0;

    display: flex;
    justify-content: space-between;
}

.fcard{
    display: flex;
    flex-direction: column;
}

.fcard h3{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.fcard a{
    text-decoration: none;
    color: #BDBDC7;
    margin-bottom: 18px;
    font-size: 16px;
}

.subscribe{
    width: 320px;
}

.subscribe h3{
    color: white;
    margin-bottom: 20px;
    line-height: 30px;
}

.subscribe p{
    color: #BDBDC7;
    line-height: 28px;
    margin-bottom: 25px;
}

.email{
    display: flex;
}

.email input{
    width: 220px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px 0 0 10px;
    background: transparent;
    color: white;
    padding-left: 15px;
}

.email button{
    width: 120px;
    height: 52px;
    border: none;
    border-radius: 0 10px 10px 0;
    background: white;
    cursor: pointer;
}

.fbottom{
    width: 100%;
    background: #20202D;
    padding: 30px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
}

.fbottom p{
    color: white;
}

.fbottom img{
    height: 35px;
}

.social{
    display: flex;
    gap: 15px;
}

.social img{
    width: 35px;
    height: 35px;
}